@charset "utf-8";
/*
Reset
*/
@import "reset.css";
/*
Comments
*/

body, html {
  background-color: #C4FF33;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.chatbot-app {
  display: flex;
  width: 95vw;
  height: 95vh;
  background-color: #FFF;
  border-radius: 1.5em;
  overflow: hidden;
  box-shadow: 0 10px 25px 0px rgba(0,0,0,0.60);
  margin: auto;
  margin-top: 1em;
}

/***********************************
* SIDE BAR
***********************************/
.contact-container {
  width: 25%;
  height: 100%;
  background-color: #FFF;
  display: block;
}

.contact-header {
  padding: 1em;
  padding-left: 1.5em;
  width: 100%;
}

.contact-header > h2 {
  font-weight: 700;
}

.contact-searchbar {
  width: 100%;
  display: flex;
  border: none;
  border-bottom: 1px solid #D8D8D8;
  padding-left: 1.1em;
  padding-bottom: 0.4em;
}

::placeholder {
  color: #D8D8D8;
}

.contact-searchbar-input {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #000;
  border: none;
  padding: 0.4em;
}

.contact-searchbar-input:focus {
  outline: none;
}

.contact-searchbar-icon {
  padding: 0.5em;
  margin-right: 0.7em;
  color: #B8B8B8;
  display: flex;
  align-items: center;
}

.contact-users {
  width: 100%;
}

.contact-users-item {
  width: 100%;
  display: flex;
  padding: 1em 1em;
}

.contact-users-item:hover {
  background-color: #EEE;
}

.contact-users-active {
  background-color: #EEE;
}

.contact-users-avatar {
  width: 3.5em;
  height: 3.5em;
  background-size: cover;
  background-position: center center;
  border-radius: 100%;
  margin-right: 1.2em;
}

.contact-users-name {
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 8em;
}

.toggle-contact {
  display: none;
}

/***************************************
* CHAT
***************************************/
.chat-container {
  width: 75%;
  height: 100%;
}

.chat-header {
  width: 100%;
  height: 10%;
  display: flex;
  padding: 1em;
  padding-left: 3em;
  align-items: center;
}

.chat-header-avatar {
  width: 2.5em;
  height: 2.5em;
  background-size: cover;
  background-position: center center;
  border-radius: 100%;
  margin-right: 1em;
  position: relative;
}

.chat-header-avatar::after {
  content: "";
  width: 0.5em;
  height: 0.5em;
  border-radius: 100%;
  background-color: lime;
  left: 80%;
  top: 80%;
  z-index: 10;
  position: absolute;
}

.chat-header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-header-name {
  font-weight: 700;
  margin-bottom: 0.4em;
}

.chat-header-online {
  font-weight: 300;
  font-size: 0.8em;
}

.messages-container {
  height: 82%;
  width: 100%;
  overflow: auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.messages-container::-webkit-scrollbar {
  display: none;
}

.messages-item {
  margin-bottom: 1em;
  max-width: 40%;
}

.messages-item > p {

  border-radius: 1.5em 1.5em 0 1.5em;
  padding: 0.7em 1.2em;
  width: max-content;
  max-width: 100%;
}

.messages-item--received {
  text-align: left;
  align-self: flex-start;
}

.messages-item--received > p {
  background-color: #EEE;
}

.messages-item--sent {
  text-align: right;
  align-self: flex-end;
}

.messages-item--sent > p {
  background-color: #C4FF33;
  margin-left: auto;
}

.messages-value {
  margin-bottom: 0.1em;
}

.messages-date {
  font-size: 0.7em;
  font-weight: 300;
  color: #CCC;
}

.chat-input-container {
  width: 100%;
  height: 8%;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2em;
}

.chat-input {
  padding: 0.6em;
  font-size: 1em;
  outline: none;
  border: none;
  border-radius: 1.5em;
  background-color: #EEE;
  width: 60%;
  padding-left: 2em;
}

.chat-input-send {
  background-color: #C4FF33;
  color: #FFF;
  border-radius: 100%;
  padding: 0.3em;
  font-size: 1.2em;
  margin-left: 0.7em;
}

.chat-input-send:hover > i {
  animation-name: sendButtonAnimation;
  animation-duration: 500ms;
}

@keyframes sendButtonAnimation {
  from {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0.1em);
  }
  to {
    transform: translateX(0);
  }
}
.notifPop {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 700;
}

.popUp {
  border-radius: 100%;
  width: 20px;
  background: red;
  height: 20px;
  display: flex;
  justify-content: center;
}