@charset "utf-8";
/*
Reset
*/
@import "reset.css";
/*
Comments
*/

body{
  display: flex;
  justify-content: center;
  font-family: system-ui;
  background-color: #F5F5DC;
}

.chatbot-app{
  display: flex;
  align-items: center;
  width:100%
}

.header-and-contact{
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 90vh;	
  z-index: 1;
  margin-left: 10px;
}

.user-profile{
  display: flex;
  flex-direction : column;
  background-color:grey;
  height: 300px;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0px 0px ;
  z-index:1;
}

.user-profile--name{
  margin-top: 5px;
}

.user-profile--picture img{
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

.user-contacts{
  background: lightgrey;
  height:100vh;
  overflow: auto;
  border-radius: 0px 0px 20px 20px;  
}
.user-contacts::-webkit-scrollbar {
    display: none;
}

.contact-search-bar
{
	display: flex;
	justify-content: center;
  padding-top: 10px;
	height: 40px;
	border-bottom: 1px solid grey;
  background: lightgrey
}

.user-contacts--items {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 3px;
  border-bottom: 1px grey solid;
}

.user-contacts--items--avatar, .message-received--sender{
  margin-top: 5px;
}

.user-contacts--items--avatar img, .message-received--sender img{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-left: 10px;
}

.user-contacts li{
  list-style-type: none;
}

.user-contacts--items--name, .message-received--sender-name{
  margin-left: 15px;
}

.chat-and-input{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message-received--sender{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat{
  height: 90vh;
  overflow: auto;
}

.chat::-webkit-scrollbar {
    display: none;
}

.input form{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.textInputArea{
  width: 75%;
  height:  60%;
  border:1px solid lightgrey; 
  border-radius: 100px 100px;
  outline: none;
}

.submitButton{
  width: 20%;
  height:  60%;
  border-radius: 100px 100px;
  float: left;
  border:1px solid lightgrey; 
  outline: none;
}

.message-received,.message-sent {
  padding: 5px;
  margin: 10px;
  width: 40%; 
  border-radius: 20px 20px;
  background: lightgrey;
}

.message-received-header, .message-sent-header{
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  border-bottom: 1px solid grey  ;
  margin-bottom: 5px;
}

.time-message{
  margin-left: 5px;
}

.message-sent{
  float: right;
  background: lightblue;
  margin-left: left;
}

.message-received{
  clear: both;
}

.message-sent p, .message-received p{
  display: flex;
  flex-wrap: wrap;
  margin: 7px;
}

@media all and (max-width: 990px){

  .chatbot-app{
    flex-direction: column;
  }

  .header-and-contact{
    width: 70%;
  }

  .chat-and-input{
  margin-top: 15px;
  border-top: 1px dashed black;
  }

}